*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    z-index: 1000;
}

.sidebar {
    position: fixed;
    top: 50px; /* Ajusta según el tamaño de tu navbar */
    left: 0;
    width: 200px; /* Ajusta según el ancho que desees */
    height: 100%; /* O ajusta según el contenido */
    background-color: #f0f0f0;
    padding: 10px;
    z-index: 100; /* Puedes ajustar según el contenido */
}

.content {
    margin-left: 200px;
    margin-top: 40px;
    padding: 20px;
}